.navbar{
	background-color: #FFA500;
	font-family: 'Arvo', serif;
}
#img .card-text{
	color: black;
	font-family: 'Cormorant Garamond', serif;
	font-size: 12px;
}
#img .card-link{
	color: blue;
	font-family: 'Cormorant Garamond', serif;
	font-size: 12px;
}
#img .card{
	margin-left: 1px;

}
